img {
    width: 8vh;
    border-radius: 100px;
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}


body {
    font-family: Lucida 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(26, 26, 26);
}

.container {
    text-align: center;
    margin-left: 0;
    margin-right: 0;

}

li {
    display: inline-block;
    margin-top: 4vh;
    padding-left: 0px;
    padding-right: 0px;

}

ul {
    margin-left: 80vh;
}

.carousel-item p {
    margin-bottom: 10px;
}

footer {
    margin-top: 54vh;
    font-size: 0.9rem;
}


header {
    display: inline;
    width: 100vh;
    height: 100vh;
}

header p {
    float: left;
    margin-left: 5px;
    margin-top: 15px;
}

.apresentacao {
    margin: 15vh auto 0 auto;
    text-align: center;
    width: 50%;

}

h1 {
    margin-bottom: 1vh;

}

.linha {
    margin-top: 0.25vh;
    width: 100%;
    border-top: 3px solid white;
}

a {
    font-style: normal;
    text-decoration: none;
    color: white;

    padding: 29px 15px 23px 15px;

}

a:hover {
    background-color: rgb(128, 0, 128);

}

span {
    color: rgb(158, 0, 158) !important;
}

.dropdown {
    display: none;
}

button {
    display: none;
}



/* troca de visualização */


@media (max-width: 991px) {
    ul {
        margin-left: 30vh;
    }

    header {
        display: none;
    }

    .dropend {
        display: block;
        float: left;
        padding: 1vh 0px;
    }

    .dropdown-menu {
        background-color: rgba(26, 26, 26, 1);
        width: 5vw;
        height: 30vh;
        overflow: visible;
        border: solid 1px white;
        border-radius: 7%;

    }

    .dropdown-item {
        color: white;
        top: 100%;
        padding: 0.25vh 2vh;



    }

    .dropdown-item:active {
        background-color: rgb(128, 0, 128);
        color: white;
    }

    button {
        background-color: rgb(26, 26, 26);
        border: none;
        display: block;
    }


}