body {
    font-size: 1rem;
}

h1 {
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.container {
    background-color: rgb(26, 26, 26);
    color: white;
}

.linha {
    margin-top: 1vh;
    width: 100%;
    border-top: 3px solid white;
}

footer {
    margin-top: 5vh;
    font-size: 0.9rem;
    text-align: center;
}

.proj1 .proj1_slide {
    width: 50%;
    display: inline;
    float: right;
    margin-bottom: 1vh;

}

.proj1 .textos {
    float: left;
    display: block;
    width: 50%;
    text-align: center;
    padding: 0 10vh;
}

.proj2 .proj2_slide {
    width: 50%;
    display: inline;
    float: left;
    margin-bottom: 1vh;

}

.proj2 .textos {
    float: right;
    display: block;
    width: 50%;
    text-align: center;
    padding: 0 10vh;
}

.proj3 .textos {
    float: left;
    display: block;
    width: 50%;
    text-align: center;
    padding: 0 10vh;
}

.proj3 img {
    width: 50%;
    display: inline;
    float: left;
    margin-bottom: 1vh;

}

a {
    text-decoration: none;
    color: rgb(211, 3, 211);
}

.proj2,
.proj3 {
    height: 40vh;
}

.proj1 {
    height: 52vh;
}

span {
    display: block;
    text-align: center;
    margin-left: 0vh;
}