h1 {
    text-align: center;
    margin-top: 5vh;
}

.container {
    background-color: rgb(26, 26, 26);
    color: white;
}

.linha {
    margin-top: 1vh;
    width: 100%;
    border-top: 3px solid white;
}

footer {
    margin-top: 10vh;
    font-size: 0.9rem;
    text-align: center;
}

.proj1 .proj1_slide {
    width: 50%;
    display: inline;
    float: right;
    margin-bottom: 1vh;

}

.proj1 .textos {
    float: left;
    display: block;
    width: 50%;
    text-align: center;
}

.proj2 .proj2_slide {
    width: 50%;
    display: inline;
    float: left;
    margin-bottom: 1vh;

}

.proj2 .textos {
    float: right;
    display: block;
    width: 50%;
    text-align: center;
}

.proj3 .textos {
    float: left;
    display: block;
    width: 50%;
    text-align: center;
}

.proj3 img {
    width: 50%;
    display: inline;
    float: left;
    margin-bottom: 1vh;

}